@media print, (max-width: 1187px)
{
    /*-------------------
        Global styles
    -------------------*/
    html.custom_scroll ::-webkit-scrollbar
    {
        width: 5px;
        height: 5px;
    }



    .block
    {
        margin-bottom: 80px;
    }



    /*--------------
        Fancybox
    --------------*/
    .fancybox__slide
    {
        padding: 32px;
    }



    /*---------------
        Accordion
    ---------------*/
    .accordion .accordion_item .head
    {
        font-size: 17px;
        line-height: 21px;

        padding: 24px 72px 24px 40px;
    }


    .accordion .accordion_item .head .icon
    {
        right: 32px;
    }


    .accordion .accordion_item .data
    {
        padding: 8px 72px 32px 40px;
    }



    /*------------
        Header
    ------------*/
    header
    {
        margin-right: 24px;
        margin-left: 24px;
        padding: 24px 0;
    }


    header .cont
    {
        padding: 0;
    }


    header .slogan
    {
        margin-left: 40px;
    }


    header .menu .item + .item
    {
        margin-left: 40px;
    }



    /*---------------
        Page head
    ---------------*/
    .page_head
    {
        margin-bottom: 32px;
        padding-top: 40px;
    }


    .page_title
    {
        font-size: 64px;
        line-height: 76px;

        margin-top: 20px;
    }



    /*----------------
        Block head
    ----------------*/
    .block_head
    {
        margin-bottom: 32px;
    }


    .block_head .desc
    {
        width: 432px;
    }



    /*------------------
        Form elements
    ------------------*/
    .form .submit_btn
    {
        padding: 16px 40px;
    }



    /*-----------------
        First section
    -----------------*/
    .first_section
    {
        height: 550px;
        margin-right: 24px;
        margin-left: 24px;
    }


    .first_section .info
    {
        bottom: 0 !important;
        left: 40px !important;

        width: 486px;
        height: 368px;
        margin-left: 0;
    }


    .first_section .info .title
    {
        font-size: 50px;
        line-height: 64px;
    }

    .first_section .info .title .span1
    {
        margin-left: 10px;
    }

    .first_section .info .title .span2
    {
        margin-left: 45px;
    }


    .first_section .info .square
    {
        width: 368px;
        height: 368px;

        border-width: 5px;
    }

    .first_section .info .square:before,
    .first_section .info .square:after
    {
        width: 5px;
        height: calc(50% - 36px);
    }

    .first_section .info .square .icon
    {
        top: -15px;
        left: -10px;

        width: 25px;
        height: 25px;
    }

    .first_section .info .square .icon2
    {
        top: auto;
        right: -15px;
        bottom: -15px;
        left: auto;
    }

    .first_section .info .square .icon:before
    {
        height: 5px;
    }

    .first_section .info .square .icon:after
    {
        width: 5px;
    }


    .first_section .ball1
    {
        top: 24px !important;
        left: 24px !important;

        width: 92px;
        height: 92px;
        margin-left: 0;
    }

    .first_section .ball2
    {
        bottom: 120px !important;

        width: 60px;
        height: 60px;
        margin-left: -172px;
    }


    .first_section .smoke1,
    .first_section .smoke2
    {
        top: 24px !important;
        right: 50%;

        height: 550px;
        margin-right: -750px;
    }



    /*----------------
        Advantages
    ----------------*/
    .advantages .data
    {
        margin-top: 0;
        padding: 24px;
    }



    /*-----------
        About
    -----------*/
    .about .data .title
    {
        font-size: 22px;
        line-height: 30px;
    }

    .about .data .link
    {
        margin-top: 20px;
    }



    /*----------------
        Error info
    ----------------*/
    .error_info
    {
        padding-top: 80px;
    }


    .error_info .desc
    {
        margin-top: 44px;
    }


    .error_info .links
    {
        margin-top: 32px;
    }

    .error_info .links a
    {
        padding: 12px 20px;
    }



    /*-------------------
        Contacts info
    -------------------*/
    .contacts_info .data
    {
        padding: 31px 23px;
    }


    .contacts_info .map_wrap
    {
        margin-top: 40px;
        margin-right: 24px;
        margin-bottom: -80px;
        margin-left: 24px;
    }



    /*--------------
        Feedback
    --------------*/
    .feedback
    {
        margin-right: 24px;
        margin-left: 24px;
        padding: 160px 0 80px;
    }



    /*--------------------
        Portfolio item
    --------------------*/
    .portfolio_item .head .data
    {
        width: calc(100% - 420px);
    }


    .portfolio_item .head .title
    {
        font-size: 60px;
        line-height: 68px;
    }


    .portfolio_item .head .site
    {
        margin-top: 40px;
    }


    .portfolio_item .head .logo
    {
        width: 380px;
        padding: 40px 0 40px 40px;
    }

    .portfolio_item .head .logo .img
    {
        height: 160px;
    }



    .portfolio_item .preview
    {
        margin-top: 160px;
        margin-right: 24px;
        margin-left: 24px;
        padding-bottom: 60px;
    }

    .portfolio_item .preview .image
    {
        margin-top: -81px;
    }


    .portfolio_item .preview .items
    {
        margin-top: 48px;

        justify-content: center;
    }



    .portfolio_item .prototype,
    .portfolio_item .concept,
    .portfolio_item .mobile,
    .portfolio_item .ui_kit,
    .portfolio_item .peculiarities
    {
        margin-top: 80px;
    }


    .portfolio_item .prototype .data,
    .portfolio_item .concept .data,
    .portfolio_item .mobile .data,
    .portfolio_item .ui_kit .data,
    .portfolio_item .peculiarities .data
    {
        margin-top: 60px;
        margin-right: 24px;
        margin-left: 24px;
    }

    .portfolio_item .prototype .data .img,
    .portfolio_item .concept .data .img,
    .portfolio_item .mobile .data .img,
    .portfolio_item .ui_kit .data .img,
    .portfolio_item .peculiarities .data .img
    {
        width: calc(100% + 40px);
        margin-right: -20px;
        margin-left: -20px;
    }



    /*---------------
        Portfolio
    ---------------*/
    .portfolio .filter
    {
        margin-bottom: 40px;
    }


    .portfolio .item .info
    {
        padding: 16px 20px;
    }


    .portfolio .item .thumb
    {
        height: 196px;
    }

    .portfolio .masonry .item.h2x,
    .portfolio .masonry .item.h2x .thumb,
    .portfolio .grid > *:first-child .thumb,
    .portfolio .grid > *:last-child .thumb
    {
        height: 402px;
    }


    .portfolio .all_link
    {
        margin-top: 32px;
    }



    /*--------------
        Services
    --------------*/
    .services .service .title
    {
        font-size: 24px;
        line-height: 28px;
    }


    .services .accordion
    {
        margin-top: 40px;
    }


    .services .accordion .active .col_name:before
    {
        width: 30px;
    }


    .services .totals
    {
        padding: 24px 72px 24px 40px;
    }



    /*----------------
        About info
    ----------------*/
    .about_info
    {
        margin-right: 24px;
        margin-left: 24px;
        padding: 100px 0;
    }


    .about_info .data
    {
        width: 412px;
    }

    .about_info .data .title
    {
        font-size: 60px;
        line-height: 72px;
    }

    .about_info .data .author
    {
        margin-top: 28px;
    }

    .about_info .data .preset_btn
    {
        margin-top: 40px;
        padding: 14px 20px;
    }


    .about_info .image
    {
        left: 40px;

        width: calc(100% - 540px);
        margin-left: 0;
    }


    .about_info .image .square
    {
        top: 40px;
        right: 52px;
        left: auto;

        width: 360px;
        height: 360px;

        border-width: 5px;
    }

    .about_info .image .square .icon
    {
        top: -15px;
        right: -15px;

        width: 25px;
        height: 25px;
    }

    .about_info .image .square .icon2
    {
        top: auto;
        right: auto;
        bottom: -15px;
        left: -15px;
    }

    .about_info .image .square .icon:before
    {
        height: 5px;
    }

    .about_info .image .square .icon:after
    {
        width: 5px;
    }



    /*----------------------
        Our competencies
    ----------------------*/
    .our_competencies
    {
        margin-right: 24px;
        margin-left: 24px;
        padding-bottom: 80px;
    }

    .our_competencies .data .item + .item
    {
        margin-top: 40px;
    }



    /*--------------------
        Our philosophy
    --------------------*/
    .our_philosophy
    {
        margin-right: 24px;
        margin-left: 24px;
        padding-bottom: 80px;
    }

    .our_philosophy .data .item + .item
    {
        margin-top: 40px;
    }



    /*------------
        Footer
    ------------*/
    footer
    {
        margin-right: 24px;
        margin-left: 24px;
        padding: 48px 0 72px;
    }


    footer .cont
    {
        padding: 0;
    }


    footer .order_btn
    {
        height: 44px;
    }



    /*-----------
        PopUp
    -----------*/
}
